*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* For Nav bar */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
#products{ /* For Products page */
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
/* --Finish-- */

p{
    color: #555;
}

/* For Section1 */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    margin-left: 100px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 25px 0;
    transition-duration: 0.5s;
}
.btn:hover{
    background: #831607;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
    height: 943px;
}
.header .row{
    margin-top: 70px;
}
/* --Finish-- */

/* Feature Categories */
.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    height: 250px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
/* --Finish-- */

/* Featuerd Products */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    height: 200px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}
/* --Finish-- */

/* Certificate Section */
.cretification{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.cretification-MSME{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,247,1) 100%);;
    padding: 30px 0;
}
.col-5 .certificate-img{
    padding: 50px;
}

small{
    color: #555;
}

.col-5{
    flex-basis: 50%;
    min-width: 300px;
}
.col-5 img{
    max-width: 100%;
    padding: 50px 0;
    margin-left: auto;
}
.col-5 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
/* --Finish-- */

/* Footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 50px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 20%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style: none;
}

.contact{
    margin-left: 20px;
}
/* --Finish-- */

/* Brands */
.brands1, .brands2{
    margin: 100px auto;
}

.col-6{
    width: 160px;
}

.col-6 img{
    width: 250px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    filter: grayscale(100%);
}

.col-6 :hover{
    filter: grayscale(0);
}
/* --Finish-- */

.about-container{
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.about-h1{
    color: black;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    padding: 10px;
}

.about-h2{
    color: rgb(58, 57, 57);
    font-size: 4rem;
    font-weight: 400;
    margin: 20px;
}

.about-p{
    font-size: 2rem;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.about-btn{
    display: inline-block;
    background: #2b2b2a;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 25px 0;
    transition-duration: 0.5s;
    font-size: 4rem;

}

.about-btn:hover{
    background: #020202;
}